<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mobile Sensing</title>

    {% include 'html_dependencies.jinja2' %}
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/data">Upload Data</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input id="suggestId" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
        </form>
    </div>
</nav>
<div class="content container">
    {% block content %}

    {% endblock %}
</div>
{% block map %}
{% endblock %}
<footer class="footer fixed-bottom">
    <div class="container">
        <span class="text-muted">
            <a style="color: inherit;text-decoration: none; cursor: pointer; word-break: break-all;"
               href="http://beian.miit.gov.cn/" target="_blank">粤ICP备16103108号-2</a></span>
    </div>
</footer>
</body>
</html>


