{% extends "base.jinja2" %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>UTC Time</th>
                <th>Vehicle speed (km/h)</th>
                <th>Space location</th>
                <th>Space length (m)</th>
                <td>Space depth (m)</td>
                <th>Total spaces</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="time0">NULL</td>
                <td id="speed0">0</td>
                <td id="loc0">0</td>
                <td id="length0">0</td>
                <td id="depth0">0</td>
                <td id="slots0">0</td>
            </tr>
            <tr>
                <td id="time1">NULL</td>
                <td id="speed1">0</td>
                <td id="loc1">0</td>
                <td id="length1">0</td>
                <td id="depth1">0</td>
                <td id="slots1">0</td>
            </tr>
            <tr>
                <td id="time2">NULL</td>
                <td id="speed2">0</td>
                <td id="loc2">0</td>
                <td id="length2">0</td>
                <td id="depth2">0</td>
                <td id="slots2">0</td>
            </tr>

            </tbody>
        </table>
    </div>


    <div id="r-result">
{#        Search:<input type="text" id="suggestId" size="20" value="百度" style="width:150px;"/>#}
    </div>
{#    <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>#}

    <div id="my_map"></div>
    <p style="position: relative; top: 600px; z-index: 99">test</p>
    <script src="/static/js/map.js"></script>
{% endblock %}

{% block map %}
    {#    <div id="my_map"></div>#}
    {#    <script src="/static/js/map.js"></script>#}
{% endblock %}